{% extends "base.jinja" %}

{% block title %}TueGist - About{% endblock %}

{% block style %}


{% endblock %}



{% block content %}

<h1>About</h1>
<p>TueGist is a simple, site to share my gists with the world.</p>
<p>It updates every tuesday (hence TueGist).</p>
{% endblock %}
