<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TueGist{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>&#xf022;</text></svg>">
    <style>
        body {
            font-family: Verdana, Geneva, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f6f6ef;
        }
        .header {
            background-color: #ff6600;
            padding: 2px;
            color: #000;
        }
        .nav {
            display: inline-block;
            padding: 3px;
        }
        .nav a {
            color: #000;
            text-decoration: none;
            margin-right: 10px;
        }
        .logo {
            border: 1px solid black;
            margin-right: 5px;
            vertical-align: middle;
        }
        .content {
            padding: 10px;
        }
        .login {
            float: right;
            margin-right: 5px;
        }

        {% block style %}{% endblock %}
    </style>
</head>
<body>
    <div class="header">
        <div class="nav">
            <a href="{{ cfg.url_base }}/index.html"><span class="logo"><i class="fa-solid fa-list"></i></span></a>
            <a href="{{ cfg.url_base }}/index.html">index</a> |
            <a href="{{ cfg.url_base }}/categories.html">categories</a> |
            <a href="{{ cfg.url_base }}/tags.html">tags</a> |
            <a href="{{ cfg.url_base }}/about.html">about</a> |
            <a href="{{ cfg.url_base }}/contact.html">contact</a> |
            <a href="{{ cfg.github_repo }}" target="_blank">github</a>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script>
    {% block script %}{% endblock %}
    </script>
</body>
</html>
