{% extends "base.jinja" %}

{% block title %}TueGist News{% endblock %}

{% block style %}

.gist-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.gist-item {
    margin-bottom: 8px;
    font-size: 10pt;
    display: flex;
    gap: 12px;
    align-items: baseline;
}
.title {
    color: #000;
    text-decoration: none;
}
.domain {
    color: #828282;
    font-size: 8pt;
}
.meta {
    color: #828282;
    font-size: 7pt;
    white-space: nowrap;
}
.meta a {
    color: #828282;
    text-decoration: none;
}
.score {
    color: #828282;
}

.date-col {
    width: 100px;
}
.category-col {
    width: 100px;
    font-size: 10pt;
    font-weight: bold;
}
.title-col {
    flex: 1;
}
.tags-col {
    width: 150px;
}

{% endblock %}



{% block content %}

<h1>Categories</h1>

<ol class="category-list">
    {% for category in category_list %}
    <li class="category-item">
        <a href="#{{ category }}">{{ category }}: {{ category_count[category] }}</a>
    </li>
    {% endfor %}
</ol>

{% for category in category_list %}
<h2 id="{{ category }}">{{ category }}: {{ category_count[category] }}</h2>

<ol class="gist-list">
    {% for gist in categories[category] %}
    <li class="gist-item">
        <span class="meta date-col">{{ gist.published_date }}</span>
        <span class="meta category-col">{{ gist.category }}</span>
        <a href="{{ cfg.url_base }}/gists/{{ gist.id }}.html" class="title title-col">{{ gist.description }}</a>
        <span class="meta tags-col">{{ gist.tags }}</span>
    </li>
    {% endfor %}
</ol>
{% endfor %}

{% endblock %}
